<div class="feedback <!-- $feedback? -->">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="feedback-form">
                    <div class="feedback-form-caption">
                        <h4>Do you have a questions?</h4>
                        <p>Fill out our form below and we'll reach out to discuss any questions you have.</p>
                    </div>
                    <form>
                        <div class="form-row row">
                            <div class="form-col col-12 col-md-6">
                                <label for="feedback-phone-number">Phone Number</label>
                                <input type="text" name="feedback-phone-number" id="feedback-phone-number" placeholder="Enter your Phone" class="input-text">
                            </div>
                            <div class="form-col col-12 col-md-6">
                                <label for="feedback-email">Email</label>
                                <input type="email" name="feedback-email" id="feedback-email" placeholder="Enter your Email" class="input-text">
                            </div>
                            <div class="form-col col-12">
                                <label for="feedback-message">Message</label>
                                <textarea name="feedback-message" id="feedback-message" cols="30" rows="10" placeholder="Enter your message" class="textarea"></textarea>
                            </div>
                            <div class="form-nav col-12">
                                <input class="button button-xmedium" type="submit" value="Send message">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.feedback-form -->
                <div class="feedback-line"></div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.feedback -->