</main>
<!-- /.main-global -->
<footer class="footer-global">
    <div class="container">
        <div class="row">
            <div class="col-footer-1">
                <div class="footer-info">
                    <div class="footer-logo">
                        <a href="#" class="footer-logo-link">
                            <img src="images/logo-white.png" alt="">
                        </a>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the&nbsp;printing and typesetting industry.</p>
                    <div class="copyright d-none d-md-block"><p>&copy; Stronger Fitness 2020, All Rights Reserved</p></div>
                </div>
                <!-- /.footer-info -->
            </div>
            <!-- /.col -->
            <div class="col-footer-2">
                <div class="footer-widget">
                    <div class="footer-title">Navigation</div>
                    <ul class="footer-menu footer-menu-x2">
                        <li class="order-1 order-md-1 order-xl-1"><a href="#">Home</a></li>
                        <li class="order-3 order-md-2 order-xl-3"><a href="#">Live</a></li>
                        <li class="order-5 order-md-3 order-xl-5"><a href="on-demand.html">On Demand</a></li>
                        <li class="order-2 order-md-4 order-xl-2"><a href="nutrition.html">Nutrition</a></li>
                        <li class="order-4 order-md-5 order-xl-4"><a href="#">Challenges</a></li>
                        <li class="order-6 order-md-6 order-xl-6"><a href="#">Shop</a></li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
            </div>
            <!-- /.col -->
            <div class="col-footer-3">
                <div class="footer-widget">
                    <div class="footer-title">More</div>
                    <ul class="footer-menu">
                        <li><a href="terms.html">Terms of Use</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                    </ul>
                </div>
                <!-- /.footer-widget -->
                <div class="footer-widget d-none d-md-block d-lg-block d-xl-none">
                    <div class="footer-title">We are in social</div>
                    <ul class="social">
                        <li>
                            <a href="#">
                                <img src="images/google.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/twitter.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/instagram.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/linkedin.svg" alt="">
                            </a>
                        </li>
                    </ul>
                    <!-- /.social -->
                </div>
                <!-- /.footer-widget -->
            </div>
            <!-- /.col -->
            <div class="col-footer-4 d-md-none d-xl-block">
                <div class="footer-widget">
                    <div class="footer-widget-inline">
                        <div class="footer-title">We are in social</div>
                        <ul class="social">
                            <li>
                                <a href="#">
                                    <img src="images/google.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/twitter.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/instagram.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/linkedin.svg" alt="">
                                </a>
                            </li>
                        </ul>
                        <!-- /.social -->
                    </div>
                </div>
                <!-- /.footer-widget -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="copyright d-md-none"><p>&copy; Stronger Fitness 2020, All Rights Reserved</p></div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>
<script src="js/jquery.js"></script>
<script src="js/migrate.js"></script>
<script src="js/library.js"></script>
<script src="js/script.js"></script>
</body>
</html>