<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><!-- $title? --></title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="no-js <!-- $bodyClass? -->">
<main class="main-global">
<header class="header-global">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="logo">
                    <a href="index.html" class="logo-link">
                        <img src="images/logo.png" alt="Welness">
                    </a>
                </div>
                <!-- /.logo -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</header>

