<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><!-- $title? --></title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="no-js <!-- $bodyClass? -->">
<main class="main-global">
<header class="header-global">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto col-md-3 col-xl-8 col-navigation">
                <a href="#" class="navigation-toggle">
                    <span class="navigation-toggle-icon"></span>
                </a>
                <div class="navigation">
                    <div class="navigation-wrap">
                        <ul class="menu">
                            <li <!-- $navHome? -->><a href="index.html">Home</a></li>
                            <li <!-- $navLive? -->><a href="#">Live</a></li>
                            <li <!-- $navOnDemand? -->><a href="on-demand.html">On Demand</a></li>
                            <li <!-- $navPrograms? -->><a href="programs.html">Programs</a></li>
                            <li <!-- $navNutrition? -->><a href="nutrition.html">Nutrition</a></li>
                            <li <!-- $navChallenges? -->><a href="chalenge.html">Challenges</a></li>
                            <li <!-- $navShop? -->><a href="shop.html">Shop</a></li>
                            <li class="d-xl-none"><a class="button button-white" href="sign-in.html">Sign In</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.navigation -->
            </div>
            <!-- /.col -->
            <div class="col-auto col-md-6 col-xl-2 col-logo order-xl-first">
                <div class="logo">
                    <a href="index.html" class="logo-link">
                        <img src="images/logo-white.png" alt="Welness">
                    </a>
                </div>
                <!-- /.logo -->
            </div>
            <!-- /.col -->
            <div class="col col-md-3 col-xl-2 col-signin">
                <div class="header-signin">
                    <a href="sign-in.html" class="button button-white button-medium">Sign In</a>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</header>
<div class="header-push"></div>
